{% extends 'parent/base.html' %}
{% block title %}post detail{% endblock %}
{% load blog_tags %}
{% block content %}
  <h1>post detail</h1>
  <h2>{{ post.title }} by {{ post.author }}</h2>
  <p>{{ post.description |  markdown }}</p>
  <hr>
  <p>{{ post.publish }}</p>
  <div>
  {% with comments.count as cm_count %}
  {{ cm_count }} comment{{cm_count|pluralize }}
  </div>
  <div>
  {% for cm in comments %}
    {{ cm.body|linebreaks }}
    <br>
    {{ cm.name }}
  {% empty %}
     !کامنتی وجود ندارد
  {% endfor %}
  </div>
  {% endwith %}
  <form method="post" action="{% url 'blog:post_comment' post.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="افزودن کامنت"> 
  </form>
{% endblock %}